legend {
  color: white;
  font-weight: 200;
}

fieldset {
  width: 25vw;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input, select {
  margin: 1rem 1rem;
  height: 20px;
}

.formSubmit {
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  box-shadow: none;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
  background-color: white;
  color: black;
  font-weight: 200;
}

.formSubmit:active {
  color:red;
}