.main-page-container {
  max-width: 1300px;
  width: 90vw;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.animal-card {
  width: 40vw;
  height: 60vh;
  max-width: 600px;
  max-height: 500px;
  background-color: antiquewhite;
  background-repeat: no-repeat;
}

.bird {
  background-image: url('https://source.unsplash.com/600x500/?&bird');
  background-size: cover;
  background-position: 50%;
}

.animal {
  background-image: url('https://source.unsplash.com/600x500/?&animal');
  background-size: cover;
  background-position: 50%;
}

.animal-card h2 {
  padding-top: 2rem;
  font-variant: small-caps;
  font-size: 48px;
  color: white;
  font-weight: 400;
}

a {
  text-decoration: none;
}
